/* Global Styles */
#app {
    background-color: rgb(var(--v-theme-background));
    font-size: 12px !important;
}

/* Adjust sidebar height and border */
.sidebar {
    height: calc(100% - 40px) !important;
}

.v-list-item-title {
    font-size: .700rem !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
}

.v-list-item--variant-text .v-list-item__overlay {
    color: rgb(var(--v-theme-primary)) !important;
}

.company-title {
    font-size: .750rem !important;
    font-weight: 1000 !important;
    text-transform: uppercase !important;
}

/* INICIO DE CONFIGURACIÓN DE ESTILOS DE SWEETALERT 2 */
/* Estilos personalizados para SweetAlert2 con Vuetify */
:root {
    --swal-bg: rgb(var(--v-theme-surface));
    /* Fondo */
    --swal-title: rgb(var(--v-theme-on-surface));
    /* Color del título */
    --swal-text: rgb(var(--v-theme-on-surface));
    /* Color del texto */
    --swal-confirm-btn: rgb(var(--v-theme-primary));
    /* Botón de confirmación */
    --swal-cancel-btn: rgb(var(--v-theme-secondary));
    /* Botón de cancelación */
    --swal-icon-success: rgb(var(--v-theme-success));
    --swal-icon-error: rgb(var(--v-theme-error));
    --swal-icon-warning: rgb(var(--v-theme-warning));
    --swal-icon-info: rgb(var(--v-theme-info));
}


/* Se asegura que los modales de SweetAlert2 estén por encima de otros elementos */
.swal2-container {
    z-index: 100000 !important;
}

.swal2-popup {
    background-color: var(--swal-bg) !important;
    color: var(--swal-text) !important;
}

.swal2-title {
    color: var(--swal-title) !important;
}

.swal2-confirm {
    background-color: var(--swal-confirm-btn) !important;
    border-color: var(--swal-confirm-btn) !important;
}

.swal2-cancel {
    background-color: var(--swal-cancel-btn) !important;
    border-color: var(--swal-cancel-btn) !important;
}

.swal2-success {
    color: var(--swal-icon-success) !important;
}

.swal2-error {
    color: var(--swal-icon-error) !important;
}

.swal2-warning {
    color: var(--swal-icon-warning) !important;
}

.swal2-info {
    color: var(--swal-icon-info) !important;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .v-input--horizontal {
        width: 80% !important;
    }
}

/* FIN DE CONFIGURACIÓN DE ESTILOS DE SWEETALERT 2 */

/* Medium devices (tablets, 1270px to 1499px) */
@media only screen and (min-width: 1270px) and (max-width: 1499px) {
    .topbar {
        width: calc(100% - 25%) !important;
        margin-left: 50px !important;
        margin-right: 0px !important;
    }

    .topbar-sidebar-off {
        width: calc(100% - 8%) !important;
    }
}

/* Large devices (laptops/desktops, 1270px and up) */
@media only screen and (min-width: 1500px) {
    .topbar {
        width: calc(100% - 25%) !important;
        margin-left: 50px !important;
        margin-right: 0px !important;
    }

    .topbar-sidebar-off {
        width: calc(100% - 8%) !important;
    }
}