/* Transición slide-fade */
.slide-fade-enter-active {
    transition: all 0.6s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.7s cubic-bezier(1, 0.8, 1.4, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}

/* Transición Bounce */
.bounce-enter-active {
    animation: bounce-in 0.9s;
}

.bounce-leave-active {
    animation: bounce-in 0.9s reverse;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}